@import "colors.scss";
@import "randomstyles.scss";

body{
    background-color: $backgroundColor;
    color:$textColor;
    font-size: $fontSize*1.1;
    text-align: center;
}

nav{
    float: left;

    li{
        background-color: $flexBackground;
        margin: 5px;
        padding: 4px;
        border: $border;
    }
} 

.wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;

    &>div{
        text-align: center;
        border-radius: 100px;
        margin: 0 10em 3em 10em;
        padding: 1em;
        background-color: $flexBackground;
    }
}

#table{
    border: $border;
    margin: auto;
    width: 60%;
    margin-bottom: 30px;
}

#table th,
#table tr{
    border: $border;
}

ul{
    list-style: none;
}

footer p{
    text-align: start;
    font-size: $fontSize*0.75;
}

.footerRightSide{
    margin-top: -25px;
    float: right;
}